{% extends "base.html" %}
  {% block page_title %}
   {{room.name}}
  {% endblock page_title %} 
  {% block content %}
    
    <div class="-mt-4 container max-w-full h-75vh mb-20 flex">
        <div class="h-full w-1/2 bg-cover bg-center shadow-lg" style="background-image:url({{room.first_photo}})"></div>
        <div class="w-1/2 flex flex-wrap">
          {% for photo in room.get_next_four_photos %}
            <div class="h-1/2 w-1/2 bg-red-300 bg-cover bg-center shadow-lg" style="background-image:url({{photo.file.url}})"></div>
          {% endfor %}
            
        </div>
    </div>
    
    <div class="container mx-auto flex justify-around pb-56">
      <!-- First column of room detail -->
      <div class="w-1/2">
        <div class="flex justify-between">
          <div class="mr-6">
            <h4 class="text-3xl font-medium mb-px">
              {{room.name}}
            </h4>
            <span class="text-gray-600 text-sm font-light">{{room.city}}</span>
          </div>
          <a href={{room.host.get_absolute_url}} class="flex flex-col items-center text-gray-600 text-sm">
            {% include 'mixins/user_avatar.html' with user=room.host %}
            <span class="mt-1">{{room.host.first_name}}</span>
          </a>
        </div>
        <div class="border-section flex">
          <span class="mr-4 font-light text-sm">{{room.room_type}}</span>
          <span class="mr-4 font-light text-sm">{{room.beds}} bed{{room.beds|pluralize}}</span>
          <span class="mr-4 font-light text-sm">{{room.bedrooms}} bedroom{{room.bedrooms|pluralize}}</span>
          <span class="mr-4 font-light text-sm">{{room.baths}} bath{{room.baths|pluralize}}</span>
          <span class="mr-4 font-light text-sm">{{room.guests}} guest{{room.guests|pluralize}}</span>
        </div>
        <p class="border-section">
          {{room.description}}
        </p>
        <div class="border-section">
          <h4 class="font-medium text-lg mb-5">Amenities</h4>          
          <ul>
          {% for amenity in room.amenities.all %}
            <li class="mb-2">{{amenity}}</li>
          {% endfor %}
          </ul>
        </div>
        <div class="border-section">
          <h4 class="font-medium text-lg mb-5">Facilities</h4>          
          <ul>
          {% for facility in room.facilities.all %}
            <li class="mb-2">{{facility}}</li>
          {% endfor %}
          </ul>
        </div>
        <div class="border-section">
          <h4 class="font-medium text-lg mb-5">House Rules</h4>          
          <ul>
          {% for rule in room.house_rules.all %}
            <li class="mb-2">{{rule}}</li>
          {% endfor %}
          </ul>
        </div>
        <div class="mt-8">
          <h4 class="font-medium text-2xl mb-5">Reviews</h4>          
          <div class="flex items-center">
            <div class="flex items-center">
              <i class="fas fa-star text-teal-400 mr-2"></i>
              <span class="font-bold text-xl">{{room.total_rating}}</span>
            </div>
            <div class="h-4 w-px bg-gray-400 mx-5"></div>
            <div class="">
              <span class="font-bold text-lg">{{room.reviews.count}}</span>
              <span class=""> review{{room.reviews.count|pluralize}}</span>
            </div>
          </div>

          <!-- Actual Reviews View-->
          <div class="mt-10">
            
            {% for review in room.reviews.all %}
              <div class="border-section flex flex-col">
                <div class="flex justify-between items-center mb-2">
                  <div class="flex items-center">
                    <a href="{{review.user.get_absolute_url}}" class="mr-4">{% include 'mixins/user_avatar.html' with user=review.user h_and_w='h-10 w-10' text='text-lg' %}</a>
                    <div class="flex flex-col">
                      <span class="font-medium">{{review.user.first_name}}</span>
                      <span class="text-xs text-gray-500">{{review.created|date:'F Y'}}</span>
                    </div>
                  </div>
                  <div class="flex items-center">
                    <i class="fas fa-star text-teal-400 mr-2"></i>
                    <span class="font-bold text-xl">{{review.rating_average}}</span>
                  </div>
                  
                </div>
                <p>{{review.review}}</p>
              </div>
            {% endfor %}
              
          </div>

        </div>
      </div>
      <!-- Second column of Room detail -->
      <div class="w-1/3">
        
        {% if room.host == user %}
          <a href="{% url 'rooms:edit' room.pk %}" class="py-1 px-1 bg-teal-400 text-white text-sm font-medium rounded-sm">Edit Room</a>  
        {% endif %}
          
        
      </div>
    </div>


  {% endblock content %}
