@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.nav_link {
  transition: border-color 0.2s linear;
  @apply ml-4 border-b-2 border-white h-full flex items-center justify-center w-20;
  a {
    @apply flex items-center justify-center h-full w-full;
  }
  &:hover {
    @apply border-gray-600;
  }
}

form .input input,
form textarea,
form select {
  @apply py-4 text-left font-medium pl-4 w-full rounded-sm font-medium border border-gray-500;
  &:focus {
    @apply outline-none border-teal-400;
  }
}

form textarea {
  resize: none;
  height: 100px;
}

form select {
  height: 30px;
}

form .btn {
  @apply py-4 text-center font-medium w-full rounded-sm font-medium border border-gray-500;
}

form {
  .input {
    @apply mb-3;
    &.has_error {
      input {
        @apply bg-red-200 border-gray-400;
        &:focus {
          @apply border-gray-600;
        }
      }
    }
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(50px);
  }
  95% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.message {
  animation: messageFadeIn 5s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
  }
  &.debug {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-blue-600;
  }
  &.success {
    @apply bg-green-600;
  }
  &.warning {
    @apply bg-yellow-600;
  }
}

.border-section {
  @apply border-b border-gray-400 pb-8 mt-8;
}

@tailwind utilities;
